In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from crypto_timeseries_analysis import (
    get_coin_returns,
)

In [3]:
coin_returns = get_coin_returns()

In [16]:
coin_returns.tail()

             bitcoin  ethereum
date
2022-06-26  0.012377  0.012187
2022-06-27 -0.021977 -0.034597
2022-06-28 -0.014313 -0.005838
2022-06-29 -0.022598 -0.042447
2022-06-30 -0.008579 -0.039026

In [14]:
coin_returns.dropna().corr()

           bitcoin  ethereum
bitcoin   1.000000  0.543047
ethereum  0.543047  1.000000